body 
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0c0c0c;
}

/* En box der inrammer hele sitet */
.container 
{ 
  width: 1200px;
  text-align: center;
  margin-top: 30px; 
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

/* top links område */
.linkarea 
{
  float: left;
  height: 140px;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  vertical-align: middle;
  /*background-color:  #464947;*/
}

/* box til at indramme alt indhold på sitet */
.content_frame 
{
  float: left;
  /*width: 100%;*/
  width: 1160px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;  
  border-bottom-right-radius: 50px;
  /*background-color: #464947;*/
}

/* indholdbox bruges til at styre ramme til oversigt af indhold på site */
.content-outer
{
  float: left;
  min-width: 550px;
  min-height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #14a738; 
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.content-inner
{
  float: left;
  min-width: 530px;
  min-height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e6e6e6; 
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer
{
  float: left;
  width: 100%;
  height: 60px;
}

/* knap links */
.button-link-outer 
{
  float: left;
  height: 130px;
  width: 130px;
  background-color:  #14a738;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; 
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-link-inner 
{
  float: left;
  height: 110px;
  width: 110px;
  background-color:  #e6e6e6;
  margin-left: 10px;
  margin-top: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; 
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-top: 5px;
}

.konverter_knap
{
  float: left;
  height: 40px;
  width: 340px;
  background-color:  #11b63a;
  margin-right: auto;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 56px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; 
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-top: 20px;
}

/*** Dette er styling af links i toppen af sitet ***/
/* unvisited link */
a.one:link 
{
  columns: #333333;
  text-decoration: none; 
  font-size: 12pt;
}

/* visited link */
a.one:visited 
{
  color:#333333;
  text-decoration: none; 
  font-size: 12pt;
}

/* mouse over link */
a.one:hover 
{
  color: #6b87aa;
  text-decoration: none; 
  font-size: 12pt;
}

/* selected link */
a.one:active 
{
  color: #6b87aa;
  text-decoration: none; 
  font-size: 12pt;
}

/*** Dette er styling af defaultlinks ***/
/* unvisited link */
a:link 
{
  color: #ffffff;
  text-decoration: none;
  font-size: 16pt;
}

/* visited link */
a:visited 
{
  color: #ffffff;
  text-decoration: none;
  font-size: 16pt;
}

/* mouse over link */
a:hover 
{
  color: #202020;
  text-decoration: none;
  font-size: 16pt;
}

/* selected link */
a:active 
{
  color: #333333;
  text-decoration: none;
  font-size: 16pt;
}

/*** Dette er styling af tekst tags på sitet ***/
/* styring af h1 tag */
h1 
{
  text-align: center;
  font-size: 16pt;
  color: #333333;
  display: block;
}

/*styring af h2 tag */
h2 
{
  text-align: center;
  font-size: 14pt;
  color: #333333;
  display: block;
}

/*styring af h3 tag */
h3 
{
  text-align: center;
  font-size: 12pt;
  color: #333333;
  display: block;
}

/*styring af p tag */
p 
{
  text-align: center;
  font-size: 10pt;
  color: #333333;
  display: block;
}

